<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- Experimental launch script for APM based Drone -->

	<!-- Start mavros -->
	<include file="$(find krti2022)/launch/mavros_only.launch"/>
	
	<!-- Start gazebo -->
	<arg name="pola" default="1"/>
  	<arg name="target" default="1"/>
	<include file="$(find krti2022)/launch/gazebo_only.launch">
		<arg name="target" value="$(arg target)"/>
      	<arg name="pola" value="$(arg pola)"/>
	</include>
</launch>
