<?xml version="1.0"?>

<model>
  <name>Objek VTOL 2023</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Calvin</name>
    <email>calvin-2021@ftmm.unair.ac.id</email>
    <name>Gregory Azarya Solo</name>
    <email>gregory.azarya.solo-2021@ftmm.unair.ac.id</email>
  </author>
  
  <description>
    ""
  </description>

</model>
